body {
  margin: 0;
  padding: 0;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
nav > ul {
  background-color: #131313;
  color: #999;
  padding: 8px 16px;
}
.tnw-logo {
  display: none;
}
.icon {
  height: 16px;
  width: 16px;
  background-color: palegreen;
  background-image: url(./icons-sprite.svg);
}
.search-icon {
  padding: 8px;
  background-position: -848px -848px;
}
main{
  display: grid;
}
#featured-articles{
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 2fr 2fr;
}
#featured-articles article:first-child{
  background-color: green; 
  grid-row-start: span 2;
}
#featured-articles article:last-child{
  background-color: lightblue; 
}
#temp{ background-color: yellow;}
#latest ul{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 270px))
  
}